body {
    font-family: Arial, sans-serif;
    background-color: #fdf2f8;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.section {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacio entre imagen y texto */
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section img {
    max-width: 40%; /* El tamaño de la imagen ocupará el 40% del contenedor */
    height: auto;
    border-radius: 8px;
}
.section-content {
    max-width: 55%; /* El texto ocupará el 55% del contenedor */
}

h2 {
    color: #d63384;
}
p {
    color: #6c757d;
    text-align: justify;
}
.icon {
    font-size: 24px;
    margin-right: 8px;
    color: #d63384;
}
@media (max-width: 768px) {
    /* Para pantallas pequeñas o móviles, la imagen y el texto se colocan uno debajo del otro */
    .section {
        flex-direction: column;
        text-align: center;
    }
    .section img {
        max-width: 80%;
        margin-bottom: 15px;
    }
    .section-content {
        max-width: 100%;
    }
}