body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.header_banner {
   position: relative;
   text-align: center;
   color: white;

   background-color: #FEE9FF;
}

.header_banner img {
    width: 100%;
    height: auto;
}
.header_banner .oscuro
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header_content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_content h1 {
    font-size: 3rem;
    margin: 0;
    color: #fff;
}

.header_content p {
    font-size: 1.5rem;
    margin: 10px 0;
}

@media(max-width: 600px) {
    .header_content h1 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .header_content p {
        font-size: 1rem;
        margin: 10px 0;
    }
}
