.container_button {
    margin-top: 40px;   
}

.my_button {
    background-color: var(--Morado); 
    padding: 12px 24px; 
    font-size: 1rem; 
    border: 2px solid transparent; /* Borde transparente */
    border-radius: 50px; /* Bordes completamente redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: all 0.3s ease; /* Suavizar todos los cambios */
}

.container_button .my_button a {
    text-decoration:  none;
    color: inherit;
}

.my_button:hover {
    background-color: #c26abc; 
    color: var(--Blanco);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Cambiar la sombra */
    border: 2px solid #C9A8CB; /* Agregar un borde azul en hover */
    transform: translateY(-3px); /* Eleva el botón ligeramente */
}

.my_button:active {
    background-color: var(--Morado); /* Mantener el color en el clic */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
    transform: translateY(0); /* Volver a la posición original */
}
