.cabecera
{
    background-color: #BE6C97;
    width: 100%;
    height: fit-content;
    padding: 30px 0px 30px 20px;
    text-align: left;
    justify-content: center;
    color: #fff;

}
.navegacion
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top:  -15px;
}
.navegacion button
{
    width: fit-content;
    text-align: right;
    color: #fff;
    border-radius: 33px;

}
.uno
{
    background-color: #764C73;
    padding: 15px 20px;
    margin-right: -45px;
    z-index: 2;

}
.dos
{
    z-index: 1;
    background-color: #C9A8CB;
    padding: 15px 20px 15px 50px;
}