.contenedor_comentario_producto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;  
    margin-top: 5%;
    background-color: #FFECF8;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.contenedor_estrellas input[type="radio"] {
    display: none;
}
.contenedor_estrellas label {
    font-size: 6vh;
    color: #FFC1F2;
    cursor: pointer;
}
.contenedor_estrellas label:hover,
.contenedor_estrellas input:checked ~ label {
    color: #C23B93;
}
textarea {
    width: 100%;
    height: 20vh;
    border: 1px solid #C23B93;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.boton_enviar_comentario{
    font-family: "Poppins", sans-serif;
    background-color: #C23B93;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    font-size: 2.5vh;
}
.boton_enviar_comentario:hover {
    background-color: #9D2C74;
}

.texto_cuentanos{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #601A55;
    margin: 0;
    padding: 3%;
    text-align: center;
}

.texto_dejanos{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #601A55;
    margin: 0;
    padding: 3%;
    text-align: center;
}

@media (min-width: 769px) {
    textarea {
        display: flex;
        justify-content: center;
        width: 140vh;
        height: 20vh;
        border: 1px solid #C23B93;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    .boton_enviar_comentario{
    font-family: "Poppins", sans-serif;
    background-color: #C23B93;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    font-size: 2.5vh;
    }

    .contenedor_estrellas label {
        font-size: 8vh;
        color: #FFC1F2;
        cursor: pointer;
    }

}