.container_card_brand {
    flex: 0 0 auto;

    width: 45%;
    max-width: 350px;
    /*background-color: rgb(227, 80, 80);*/
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}


.container_card_brand img {
    width: 100%;
    height: auto;
    /*aspect-ratio: 1/1;*/
}