.form_registro{
    
    width: 90%;
    min-width: 352px;  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    min-width: 300px;
    max-width: 580px;
    height: 3rem;
    border-radius: 31px;
    background-color: #FFFFFF;
    border: #FFFFFF;
    font-size: 1rem ;
    color: grey;
    font-family: 'Poppins', semi-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    padding-left: 15px; 
    box-sizing: border-box;
}

.boton_submit{
    background-color: #764C73;
    width: 100%;
    min-width: 315px;
    max-width: 580px;
    height: 2.8rem;
    
    border: #764C73;
    border-radius: 8px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    
    
}

.boton_submit:active{
    background-color: #C9A8CB ;
}

