.hidden {
    display: none;
}

.bg-pink-500 {
    background-color: #BE6C97;
    height: 9vh; /* Altura completa de la pantalla */
    display: flex;
    justify-content: space-between; /* Centrar horizontalmente */
    padding-top: 20px;
    align-items: flex-start; /* Centrar verticalmente */
}

.titulo {
    font-family: 'Arima Madurai', cursive;
}
.text-white {

    color: #ffffff;
    font-size: 2rem; /* Ajusta el tamaño del texto */
}

@media (max-width: 640px) {
    .text-white {
        font-size: 1.2rem; /* Texto más pequeño en pantallas móviles */
    }

}