.contenedor_nombre_producto_especifico{
    width: 72%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nombre_producto_especifico {
    color: #601A55;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem; 
    text-align: left;
}

.caracteristica_precio{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}

.caracteristica_producto{
    width: 75%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #601A55;
    margin: 0;
    padding: 0;
    text-align: left;
}
.precio_producto{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #601A55;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 25%;
    font-size: 1.0rem;
}

@media (min-width: 769px) {
    .contenedor_nombre_producto_especifico {
        position: absolute;
        top: 0%;
        right: 10%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }

    .nombre_producto_especifico {
        color: #601A55;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 27px;
        text-align: left;
    }
    
    .caracteristica_producto{
        font-size: 20px;
        text-align: left;
    }
    .precio_producto{
        font-size: 23px;
    }
}
