
.pagina_registro{
    background-color: #FEE9FF;
    width: 100%;
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 1rem;
   
    

}