.review_scroll {
    display: flex; /* Alinear los botones en fila */
    overflow-x: auto; /* Habilitar el desplazamiento horizontal */
    padding: 10px; /* Espacio interno */
    /*white-space: nowrap; /* Evitar que los botones se rompan */
    
    max-width: 100%;
}

.review_scroll::-webkit-scrollbar {
    display: none;
}