.section_scroll {
    display: flex; /* Alinear los botones en fila */
    overflow-x: auto; /* Habilitar el desplazamiento horizontal */
    padding: 10px; /* Espacio interno */
    /*white-space: nowrap; /* Evitar que los botones se rompan */
    max-width: 90%;
    gap: 20px;
}

.section_scroll::-webkit-scrollbar {
    display: none;
}