.contenedor_texto
{
    max-height: 500px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.lineas
{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #fff;
    word-break: break-all;
    word-wrap: break-word;
    font-size: clamp(15px, 2vw, 22px); 
}
img
{
    height:30px;
    width: 30px;
    margin: 10px 30px 10px 0px;
}
p
{
    word-break: break-all;
}
