.container_subtitle {
    width: 100%;
    max-width: 100%;
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #601A55;;
    justify-content: center;
    align-items: center;
}

.container_subtitle h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    margin: 0%;
}

@media(min-width: 769px) {
    .container_subtitle h2 {
        font-size: 6vh;
    }
}