.navbar {
    position:absolute;
    padding: 10px;
    background-color: #333;
}

/* Estilos del botón de hamburguesa */


/* Estilos del menú desplegable */
.menu {
    position: absolute;
    right: 0;
    top: 50px;
    /*width: 200px;*/
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: none; /* Escondido por defecto */
}

.menu-lista {
top: 100%;

height:100%;
flex-direction: column;
color:white;
/* O 'fixed' si deseas que permanezca en la pantalla */
z-index: 1000;
}
.menu-boton-desplegar {  
    box-sizing: border-box; 
    border:none;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin:0px;
    padding:0px;
    
}

.menu-boton-desplegar:active {
transform: scale(0.95); 
transition: transform 0.1s; /* Transición suave */
}

.menu-lista li {
    list-style: none; /* Elimina los puntos de la lista */
    
    border-bottom: 2px solid rgba(255, 255, 255, 255);
    
}

.menu-lista li a {
    text-decoration: none;
    color: white; /* Cambia el color del texto a blanco */
    font-family: 'Poppins', sans-serif; /* Cambia la fuente */ /* Añade un poco de padding para hacer más grande el área clickeable */
    display: block; /* Asegura que el área clickeable ocupe todo el ancho */
    font-size:1.2rem;
    margin-bottom: 8px;
    margin-top:5px;
    
}

.menu-lista li a:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Efecto al pasar el mouse */
}
/* Estilos para pantallas más grandes (desktop) */

.relative {
position: relative; /* Para crear un contexto de apilamiento */
}
.text-white {

    color: #ffffff;
    font-size: 2rem; /* Ajusta el tamaño del texto */
}